<app-header></app-header>
<div class="container">
    <div class="row" style="margin-top: 50px;">
        <h1 class="d-flex align-items-center justify-content-center">Add your favorite <img src="assets/images/logo.svg" width="50"/> Beer</h1>
    </div>
    <div class="container border rounded p-4 shadow-lg" style="margin-top: 50px">
        <form>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Name</label>
            <input
              type="text"
              class="form-control"
              id="exampleInputEmail1"
              name="name"
              [(ngModel)]="name"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Description</label>
            <textarea
              type="text"
              class="form-control"
              id="exampleInputEmail1"
              name="description"
              [(ngModel)]="description"
            ></textarea>
          </div>
          <div class="mb-3">
            <label for="formFile" class="form-label">Picture</label>
            <input class="form-control" type="file" id="formFile">
          </div>
          <div class="mb-3">
            <label for="selectType" class="form-label">Picture</label>
            <select id="selectType" class="form-select" aria-label=".form-select-lg example">
              <option selected>Open this select menu</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
            <div class="btn-container">
              <div class="error">{{ errorMsg }}</div>
              <div class="succes">{{ succesMsg }}</div>
              <button type="submit" class="btn btn-dark" (click)="addBeer()">Add</button>
            </div>
        </form>
      </div>
</div>