<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center" style="cursor: pointer;" (click)="goToHome()">
            <img src="assets/images/logo.svg" alt="logo" width="50">
            <h1 class="fs-1 mb-0">PureBeer</h1>
        </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" style="cursor: pointer;" (click)="goToHome()">Home</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li> -->
        </ul>
        <div *ngIf="isLoged == false">
        <form class="d-flex">
          <button class="me-2 btn btn-outline-secondary" (click)="goToLogin()">Login</button>
          <button class="btn btn-secondary" (click)="goToRegister()">Register</button>
        </form>
      </div>
      <div *ngIf="isLoged == true">
        <form class="d-flex align-items-center">
          <h6 class="text-light mb-0 me-3">Hi ! {{user.username}}</h6>
          <button class="me-2 btn btn-outline-danger" (click)="Logout()">Logout</button>
        </form>
      </div>
      </div>
    </div>
  </nav>