.pop-up-error {
  display: none;
  color: red;
  font-size: 12px;
  font-weight: bold;
  margin-top: 5px;
}

.btn-error-pop:hover 
.pop-up-error{
    display: block;
}

.rating-value {
  position: absolute;
  bottom: 5px;
  right: 0px;
  font-weight: bold;
}